.heroSection {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heroImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    z-index: 0;
}

.whiteCover {
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #b7f3b5;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    margin-bottom: 10%;
}

.portfolioFirstSection{
    width: 50%;
    height: 200px;
    margin-bottom: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    position: relative;
}

.myPortfolioText{
    color: #302D2D;
    font-size: 60px;
    font-family: 'Lora', serif;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0 0 2%;
}

.myPortfolioSubText{
    color: #302D2D;
    font-size: 20px;
    font-family: 'Lora', serif;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    text-align: center;
}

.createProjectButton{
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: burlywood;
    border: 1px solid ghostwhite;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    font-family: 'Lora', serif;
    right: -40%;
}

.createProjectButton:hover{
    background-color: #ee6363;
}