.projectPageFirstSection{
    width: 100%;
    height: 47vh;
    margin-top: 8%;
    display: flex;
}

.projectPageFirstSectionLeft{
    width: 57%;
    height: 100%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
}

.projectPageFirstSectionLeftTitle{
    color: #302D2D;
    font-size: 60px;
    font-family: 'Lora', serif;
    padding: 0;
    margin: 0 0 3%;
}

.projectPageFirstSectionLeftSubTitle{
    color: #302D2D;
    font-size: 24px;
    font-family: 'Lora', serif;
    padding: 0;
    margin: 0 0 2%;
}

.projectPageFirstSectionLeftText{
    color: #302D2D;
    font-size: 20px;
    font-family: 'Lora', serif;
    padding: 0;
    margin: 0 0 2%;
}

.projectPageFirstSectionRight{
    width: 50%;
    height: 100%;
    padding-left: 2%;
    padding-right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectPageFirstSectionRightText{
    color: #302D2D;
    font-size: 20px;
    font-family: 'Lora', serif;
    padding: 0;
}

.projectPageSecondSection{
    height: 65vh;
    width: 100%;
    display: flex;
}

.projectPageSecondSectionLeftSide{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectPageSecondSectionRightSide{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Arrow{
    transform: scale(2.7);
    display: inline-block;
    cursor: pointer;
}

.Arrow:hover {
    color: #b7f3b5;
}

.projectPageSecondSectionMiddleSection{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.projectPageSecondSectionMiddleSectionInner{
    width: 80%;
    height: 95%;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    display: flex;
    flex-direction: row;
}

.carousselImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

.projectPageThirdSection{
    width: 100%;
    height: 40vh;
    padding-top: 8%;
}

.projectPageThirdSectionTechnologySection{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.projectPageThirdSectionTitleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.projectPageThirdSectionTitle{
    color: #302D2D;
    font-size: 50px;
    font-family: 'Lora', serif;
    padding: 0;
    margin-bottom: 30px;
}

.projectPageThirdSectionIcons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.projectPageThirdSectionFeatureKnowledgeSection{
    display: flex;
    flex-direction: row;
    height: 70vh;
}

.projectPageThirdSectionFKleft{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projectPageThirdSectionFKright{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projectPageThirdSectionInDepthSummary{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projectPageFeatureText{
    color: #302D2D;
    font-size: 20px;
    font-family: 'Lora', serif;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
}