.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    text-align: center;
    position: relative;
    border: 2px solid ghostwhite;
    max-height: 80vh;
    overflow-y: auto;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.modalImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.modalForm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.modalInput{
    border-radius: 10px;
    color: #302D2D;
    height: 5vh;
    width: fit-content;
}

.modalButton{
    background-color: #b7f3b5;
    color: #302D2D;
    height: fit-content;
    width: 30%;
    cursor: pointer;
    border: 2px solid #302D2D;
    font-family: 'Lora', serif;
    font-weight: bolder;
    margin-top: 2%;
}

.modalButton:hover{
    background-color: #ee6363;
    color: #302D2D;
}

.modalTitle{
    color: #302D2D;
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 5%;
}

.modalLabel {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #302D2D;
    text-align: left;
    font-family: 'Lora', serif;
}
