.footerContainer {
    width: 100%;
    background: ghostwhite;
    color: #fff;
    padding: 6% 0 20px;
    text-align: center;
    height: fit-content;
}

.footerContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Lora', serif;
    gap: 40px;
}

.footerBottom {
    padding-top: 10px;
    font-size: 0.9rem;
    color: black;
}

.titleTextFooter{
    font-family: 'Lora', serif;
    color: #302D2D;
    font-size: 40px;
}

.textFooter{
    color: #302D2D;
    font-family: 'Lora', serif;
    font-size: 20px;
    margin-right: 10%;
}

.contactInfoOne{
    padding: 30px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 2px solid #8c8c8f;
    display: flex;
    flex-direction: column;
    width: 400px;
    overflow: hidden;
}

.contactInfoTwo{
    padding: 30px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 2px solid #8c8c8f;
    display: flex;
    flex-direction: column;
    width: 400px;
    overflow: hidden;
}

.contactFirstRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    border-bottom: 3px solid #f38f67;
}

.contactSecondRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid #f38f67;
}

.contactLink {
    color: #302D2D;
    font-family: 'Lora', serif;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-left: auto;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}


.contactLink:hover {
    color: #d85ff3;
}

.followFirstRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 3px solid #f38f67;
}

.followLink {
    color: #302D2D;
    font-family: 'Lora', serif;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-left: auto;
}

.followLink:hover {
    color: #d85ff3;
}

.portfolioTextLink{
    color: black;
    margin-left: auto;
}

.portfolioTextLink:hover{
    color: #d85ff3;
}
