.footerContainer {
    width: 100%;
    background: ghostwhite;
    color: #fff;
    padding: 6% 0 20px;
    text-align: center;
}

.footerContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Lora', serif;
}

.footerBottom {
    padding-top: 10px;
    font-size: 0.9rem;
}

.titleTextFooter{
    font-family: 'Lora', serif;
    color: #302D2D;
    font-size: 40px;
}

.textFooter{
    color: #302D2D;
    font-family: 'Lora', serif;
    font-size: 20px;
}

.contactInfo{
    padding: 30px;
    border-radius: 10px;
    background-color: #f6a3a3;
    border: 2px solid ghostwhite;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.contactFirstRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 3px solid #f38f67;
}

.contactSecondRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid #f38f67;
}

.contactLink {
    color: #302D2D;
    font-family: 'Lora', serif;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-left: auto;
}

.contactLink:hover {
    color: white;
}

.followFirstRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 3px solid #f38f67;
}

.followLink {
    color: #302D2D;
    font-family: 'Lora', serif;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-left: auto;
}

.followLink:hover {
    color: white;
}