.logoutButton {
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0px;
}

.logoutButton:hover {
    background-color: black;
}