.dashboardPageContainer {
    width: 100%;
    height: fit-content;
    background-color: #b7f3b5;
    padding-top: 10vh;
}

.spaceDiv {
    width: 100%;
    height: 6vh;
}

.dashboardForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboardTextArea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
}

.submitButton {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #45a049;
}

.userCardsContainer {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20vh;
}

.userCard {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid ghostwhite;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    font-weight: 400;
    text-align: center;
}

.myTitleText{
    color: #302D2D;
    font-size: 40px;
    font-family: 'Lora', serif;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin-bottom: 2%;
    margin-left: 2%;
}

.myTitleSubText{
    color: #302D2D;
    font-size: 30px;
    font-family: 'Lora', serif;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin-bottom: 2%;
    margin-left: 2%;
}

.userCardName{
    font-size: 25px;
    margin-bottom: 15%;
}

.approvedContainer{
    padding: 4px 14px;
    width: fit-content;
    color: ghostwhite;
    border: 1px solid ghostwhite;
    border-radius: 10px;
}

.approvedYes {
    background-color: mediumseagreen;
}


.approvedNo {
    background-color: #ee6363;
}

.bottomCardRowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

.deleteCardIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.deleteCardIcon:hover {
    transform: scale(1.2);
}

.editCardIcon{
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.editCardIcon:hover {
    transform: scale(1.2);
}