.commentPageContainer{
    width: 100%;
    height: 100vh;
    background-color: #b7f3b5;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spaceDiv{
    width: 100%;
    height: 8.8vh;
}

.commentForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentTextArea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    width: 80%;
}

.submitButton {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #45a049;
}
